/* src/App.css */
@use './styles/variables' as *;

/* Reset margin and padding to make sure the content fills the whole screen */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }

  .fill-rest-height {
    height: 80vh;
    width: 100%;
    display: flex;
  }
  
  .App {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: #000000;
    margin: 0;
    padding: 0; 
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    justify-content: center; 

    &.topic-page-layout {
      justify-content:start;
    }

  }
  
  
  @media (max-width: 60rem) {

    .App {
      justify-content:start;
    }

  }
  