// Colors
$primary-color: #8B80F9;
$primary-flip-color: #83858C;
$container-color: #EA638C;
$background-color: #020C04;
$background2-color: hsl(132, 71%, 10%);
$accent-color: #6CD4FF;
$border-color: #FFE5D4;
$accent3-color: #EFC7C2;
$text-color: #cfb1b7;

$purple: #8B80F9;
$pink: #CFBFF7;
$rose: #cfb1b7;
$grey: #83858C;
$blue: #6CD4FF;

// Spacing
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

