// Colors
$primary-color: #008B1F;
$container-color: #EA638C;
$background-color: #020C04;
$accent-color: #44FF6D;
$border-color: #FFE5D4;
$accent3-color: #EFC7C2;
$text-color: #adfebf;

// Spacing
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
