#container{
    height : 400px;
    width:   400px;
    background-color: white;
    align-items: center;

}

#square{
    height : 350px;
    width:   350px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}
