@use '../variables' as *;

.card-grid {
    display: grid;
    gap: 1.0rem;
    padding-block: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-inline: auto;
    max-width: 1500px;
  }

  .tile, .tileBasic {
    padding: 1rem;
  }

  @media (min-width: 60rem){
    .card-grid{
      grid-template-columns: repeat(4,minmax(250px, 400px));
    }
  
    .tile:last-child {
      grid-column-start: 4;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  
    .grid-col-span-2 {
      grid-column: span 2;
    }
  
    .grid-row-span-2 {
      grid-row: span 1;
    }
  }
  
.links-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  place-items: center; 
}
